# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
**/dependency-reduced-pom.xml
buildNumber.properties

# Logs
*.log

# Eclipse / IntelliJ / VS Code
*.iml
.idea/
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# OS-filer
.DS_Store
Thumbs.db

# Test output
/test-output/
/surefire-reports/

# Spring specific
.spring-*

# Environment files
.env
application.properties
application.yml
application-dev.properties
application-prod.properties